<div class="error-component">
  <div class="error-header">
    <div class="error-head-title">PECO</div>
  </div>
  <div class="error-main">
    <div class="error-main-warning">
      <mdb-icon fas icon="exclamation-triangle" class="warn-icon"></mdb-icon>
      <div class="warn-text">
        You are not eligible for the Customer Referal Program at this time.
      </div>
    </div>
    <div class="error-main-body">
      <div class="reason-container">
        <div class="reason-ques ques">Why am I ineligible?</div>
        <div class="reason-ans ans">
          You are currently enrolled in Customer Assistance Program
        </div>
      </div>
      <div class="enroll-container">
        <div class="enroll-ques ques">Looking to enroll with a supplier?</div>
        <div class="enroll-ans ans">
          Visit PA Power Switch
          <a href="" class="enroll-link">https://www.papowerswitch.com/</a>
        </div>
      </div>
    </div>

    <div class="return-btn-container">
      <button class="return-btn">Return to MyAccount</button>
    </div>
  </div>
  <div class="error-footer"></div>
</div>
